

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.jumbotron {
  background-image: url("../img/waterfall-image-by-space-lizard-pearson-falls1-flickr.jpg");
  /* Image usage rights listed as Public Domain by photographer on Flickr: https://flic.kr/p/VqhuEw */
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-shadow: black 0.1em 0.1em 0.1em;
}















